<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="body">
        <div class="auth-wrapper">
            <div class="auth-form">
                <div class="logo"></div>
                <form id="auth_form">
                    <div class="auth-fields">
                        <label class="field-wrap empty">
                            <span class="label">Логин</span>
                            <input type="text" name="username" class="input-text placeholder validate ready-placeholder" data-validate="required" data-placeholder="Логин" value="">
                        </label>
                        <label class="field-wrap empty">
                            <span class="label">Пароль</span>
                            <input type="password" name="password" class="input-text placeholder validate ready-placeholder" data-validate="required" data-placeholder="Пароль">
                        </label>
                        <button id="auth_submit" class="auth-submit">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>