.catalog {

  .tab-header{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;

    .tab-header-item {
      width: 220px;
      border: 2px solid $colorMidGray;
      color: $colorDarkGray;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      line-height: 48px;
      list-style: none;
      transform: skew(-25deg);
      margin: 0 5px;
      cursor: pointer;
      transition: all .2s;

      &:hover {
        box-shadow: 2px 2px 20px $colorRed;
      }

      &.active {
        color: $colorWhite;
        background-color: $colorRed;
        border: none;
      }

      div {
        transform: skew(25deg);
      }


    }
  }

  .tab-content {
    display: flex;
    margin: 60px -8px 20px;
    flex-wrap: wrap;
    display: none;

    &.active {
      display: flex;
    }

    .tab-content-item {
      border: 2px solid $colorSecondary;
      min-height: 440px;
      width: calc(33% - 16px);
      margin: 8px;

      .more-link {
        text-transform: uppercase;
        color: $colorRed;
        font-size: 14px;
        text-align: center;
        margin: 10px 0px 17px 0px;
        display: block;
        transition: all .2s;

        &-back {
          text-transform: uppercase;
          color: $colorRed;
          font-size: 14px;
          text-align: center;
          margin: 10px 0px 17px 0px;
          display: block;
          transition: all .2s;
        }

        &:hover {
          color: #a11c1c;
        }
      }

      .tab-content-item-wrapper {
        overflow: hidden;
        transition: all .2s ease;
        position: relative;

        &.show {
          .tab-content-item-content {
            transform: translateY(100%);
          }
          .tab-content-item-list {
            top: 0;
          }
        }

        .tab-content-item-content {
          transition: all .2s ease;
          padding: 20px 20px 15px;

          .tab-content-img {
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            width: 100%;
            padding-top: 70%;
          }

          .tab-content-title {
            color: $colorBlack;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
          }

          .tab-content-description {
            color: $colorBlack;
            font-size: 14px;
            font-weight: 300;
            margin-top: 15px;
            text-align: center;
          }
        }

        .tab-content-item-list {
          transition: all .2s ease;
          position: absolute;
          top: -100%;
          left: 0;
          margin: 0;
          list-style-type: none;
          padding: 15px 15px 15px 30px;

          li {
            font-weight: 300;
            font-size: $indent14;
            line-height: $indent20;
            margin-bottom: 20px;
            position: relative;

            &:last-child {
              margin-bottom: 10px;
            }

            &:before {
              content: '';
              position: absolute;
              width: 5px;
              height: 5px;
              background-color: $colorRed;
              left: -15px;
              top: 5px;
            }
          }
        }
      }

      .buy-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 27px;
        padding: 20px 25px;

        .cost {
          text-decoration: line-through;
          font-weight: 300;
          font-size: 14px;
          color: #555555;
        }

        .discount {
          font-weight: 700;
          font-size: 20px;
          color: $colorBlack;
        }
      }
    }
  }
}