$fontLight: 'Museo Sans Cyrl 300';
$fontRegular: 'Museo Sans Cyrl 500';
$fontMedium: 'Museo Sans Cyrl 700';
$fontBold: 'Museo Sans Cyrl 900';

$colorPrimary: #0D0D0D;
$colorPrimaryHover: #397DFF;

$colorDisabled: #CFD3D9;

$colorSecondary: #E8E8E8;
$colorSecondaryHover: #075AE4;
$colorLink: #2A6CEA;

$colorTertiary: #EBF3FF;
$colorTertiaryHover: #CFE1FC;

$colorBlackGray: #333A4E;
$colorDarkGray: #6B6B6B;
$colorMidGray: #D0D0D0;
$colorLightGray: #ECEFF2;
$colorExtraLightGray: #F6F8FA;
$colorWhite: #FFFFFF;
$colorBg: #F1F4F7;
$colorBgLight: #F6F6F6;
$colorYellow: #FEC842;
$colorLightYellow: #FFF7E2;
$colorGreen: #12DE33;
$colorBlack: #191C1F;
$colorRed: #C70101;

$indent4: 4px;
$indent8: 8px;
$indent10: 10px;
$indent12: 12px;
$indent14: 14px;
$indent16: 16px;
$indent17: 17px;
$indent18: 18px;
$indent20: 20px;
$indent22: 22px;
$indent24: 24px;
$indent28: 28px;
$indent30: 30px;
$indent32: 32px;
$indent40: 40px;
$indent48: 48px;
$indent56: 56px;
$indent60: 60px;
$indent62: 62px;
$indent70: 70px;
$indent80: 80px;
$indent100: 100px;
